<div class="menu-bar__container">
    <div class="menu-bar__logo">
        <img 
        src="assets/ps-logo.png" 
        alt="playstation logo"
        width="140px"
        height="32px"
        >
    </div>
    <div class="menu-bar__item">
        <ul>
            <li> <a href="https://blog-angular-d6cpobtxq-nbevertons-projects.vercel.app/">Projetos</a> </li>
            <li> <a href="https://www.linkedin.com/in/evertonbarbosa-dev/">LinkedIn</a> </li>
            <li> <a href="https://github.com/nbeverton">Github</a> </li>
        </ul>
    </div>
</div>